
*.dll
EventBash/EventCatalogAPI/obj/Debug/netcoreapp2.1/EventCatalogAPI.dll
EventBash/.vs/EventBash/v16/.suo
*.ide
*.pdb
*.cache
*.dll
*.pdb
EventBash/.vs/EventBash/v16/.suo
EventBash/.vs/EventBash/v16/Server/sqlite3/storage.ide
EventBash/EventCatalogAPI/bin/Debug/netcoreapp2.1/EventCatalogAPI.pdb
EventBash/EventCatalogAPI/obj/Debug/netcoreapp2.1/EventCatalogAPI.csprojAssemblyReference.cache
EventBash/EventCatalogAPI/obj/Debug/netcoreapp2.1/EventCatalogAPI.dll
EventBash/EventCatalogAPI/obj/Debug/netcoreapp2.1/EventCatalogAPI.pdb
EventBash/EventCatalogAPI/obj/Debug/netcoreapp2.1/EventCatalogAPI.pdb
*.dll
*.dll
*.pdb
*.dll
*.cache
*.pdb
EventBash/EventCatalogAPI/obj/Debug/netcoreapp2.1/EventCatalogAPI.dll
EventBash/EventCatalogAPI/obj/Debug/netcoreapp2.1/EventCatalogAPI.csprojAssemblyReference.cache
EventBash/EventCatalogAPI/bin/Debug/netcoreapp2.1/EventCatalogAPI.pdb
EventBash/.vs/EventBash/v16/Server/sqlite3/storage.ide
EventBash/.vs/EventBash/v16/.suo
EventBash/.vs/EventBash/DesignTimeBuild/.dtbcache
EventBash/.vs/EventBash/DesignTimeBuild/.dtbcache
